div(layout="row" layout-wrap layout-fill)
  .animated#kpirow(flex="100" layout="row")
    md-card(flex="30" md-colors="{'color': 'primary'}")
      md-card-title
        md-card-title-text.md-headline.text-center Number of Products
      md-card-content(layout="row")
        div.product-kpi {{ctrl.productNum}}
    md-card(flex="30" md-colors="{'color': 'accent'}")
      md-card-title
        md-card-title-text.md-headline.text-center Products Rented
      md-card-content(layout="row")
        canvas#doughnut.chart.chart-doughnut(chart-data='ctrl.chartData' chart-labels="['Rented', 'Not']" flex="40" chart-colors="['#B71C1C', '#DCDCDC']")
        div.md-display-3.raleway.center-all.text-center(flex="60") {{100*ctrl.percentRented | number:0}} %
    md-card(flex="30" md-colors="{'color': 'warn'}")
      md-card-title
        md-card-title-text.md-headline.text-center Revenue per Product
      md-card-content(layout="row" layout-wrap)
        .product-kpi {{ctrl.revPerProduct | currency }}
  .dash-margin.md-display-1.raleway(flex="100") My Products
  md-content(layout="column", layout-padding layout-fill css-attr #overflow="hidden" #min-height="70vh")
    div.loading-items(ng-show="ctrl.hideall")
        md-progress-circular.md-accent(css-attr #left="50%" #top="100px" md-mode="indeterminate" ng-disabled="!ctrl.hideall")
    div.animated.fadeIn(layout="row" layout-fill layout-wrap ng-hide="ctrl.hideall")
        .md-title(ng-if="ctrl.products.length < 1") You have no products yet
        div(ng-repeat = "i in [0,1,2,3]" flex="25")
            product-card(ng-repeat = "p in ctrl.rows[i]" product="p" ng-click="ctrl.openProduct($event, p)" promise="p.resolve")

