.navfix {
    z-index: 10;
    position: fixed;
    width: 100%;
    display: block;
    margin-bottom: 50px;
}

md-nav-bar span {
/*    color: white;*/
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.nav-icon-item button,a {
    padding: 1px 0px 0px 0px !important;
}

.nav-icon-item label{
    display: block;
    bottom: 2px;
    font-size: 15px;
    position: relative;
}
.nav-icon-item svg{
    margin-top: 2px;
    height: 23px;
    width: 23px;
}

.logotext {
    cursor: pointer;
    padding: 10px;
    font-size: 30px;
}

.navlogo {
    padding-left: 25px;
}

.navcontent {
    background-color: transparent !important;
}

.no-scroll {
    overflow: visible;
}