div(ng-controller="NavbarController", md-theme="nav.getTheme()" md-theme-watch="true" ng-class= "{navfix: nav.isPath('home')}", ng-cloak)
  md-content.no-scroll
    md-nav-bar(md-selected-nav-item='stateName', nav-bar-aria-label='navigation links')
      md-icon.navlogo.icon-fix(md-svg-icon="brand:logo" aria-label="logo")
      span.logotext.raleway(ui-sref='home', name='home') ANZUG
      span(flex)
      

      md-nav-item(md-nav-sref='home', name='home') Home

      md-nav-item(ng-repeat='item in nav.menu', md-nav-sref='{{item.state}}', name='{{item.state}}') {{item.title}}
      
      md-nav-item(ng-show='nav.isAdmin()', md-nav-sref='admin', name='admin') Admin

      md-nav-item(ng-hide='nav.isLoggedIn()', md-nav-click='nav.login($event)') Login

      md-nav-item(ng-hide='nav.isLoggedIn()', md-nav-sref="signup", name="signup") Sign Up

      md-nav-item(ng-show='nav.isLoggedIn()')
        p.navbar-text Hello {{ nav.getCurrentUser().name }}

      md-nav-item(ng-show='nav.isLoggedIn()', md-nav-sref="settings" name='settings')
        md-icon(md-colors = "{color: 'grey'}") settings

      md-nav-item(ng-show='nav.isLoggedIn()' md-nav-sref='logout', name='logout') Logout
