div(ng-controller="NavbarController", md-theme="navbar" ng-class= "{navfix: nav.isPath('home')}", ng-cloak)
  md-content.no-scroll(ng-class= "{navcontent: nav.isPath('home')}")
    md-nav-bar(md-selected-nav-item='stateName', nav-bar-aria-label='navigation links')
      md-icon.navlogo(md-svg-icon="brand:logo" aria-label="logo" md-colors ="{color: 'default-background'}")
      span.logotext.raleway(md-colors ="{color: 'default-background'}") ANZUG
      span(flex)
      md-nav-item(ng-hide='nav.isLoggedIn()', md-nav-sref="home", name="home" )
        span  Home

      md-nav-item(ng-repeat='item in nav.menu', md-nav-sref='{{item.state}}', name='{{item.state}}') {{item.title}}
      
      md-nav-item(ng-show='nav.isAdmin()', md-nav-sref='admin', name='admin') Admin

      md-nav-item(ng-hide='nav.isLoggedIn()', md-nav-sref='login', name='login') Login

      md-nav-item(ng-hide='nav.isLoggedIn()', md-nav-sref="signup", name="signup") Sign Up

      md-nav-item(ng-show='nav.isLoggedIn()')
        p.navbar-text Hello {{ nav.getCurrentUser().name }}

      md-nav-item(ng-show='nav.isLoggedIn()', md-nav-sref="settings" name='settings')
        md-icon(md-colors = "{color: 'grey'}") settings

      md-nav-item(ng-show='nav.isLoggedIn()' md-nav-sref='logout', name='logout') Logout
