md-content(layout="column", layout-padding layout-fill css-attr #min-height="70vh")
    div(layout="row" flex-offset="5" layout-fill)
        div(flex="33" flex-offset="5")
            .md-headline(css-attr #margin-bottom="20px") About Us
            .md-body 
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        div(flex="25" flex-offset="5")
            md-card
                img.md-card-img(css-attr #padding="20px" src="../assets/images/slidetwobg.png")
                md-card-title
                    md-card-title-text Point 1
                md-card-content(css-attr #margin-bottom="20px")
                    |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        div(flex="25" flex-offset="5")
            md-card
                img.md-card-img(css-attr #padding="20px" src="../assets/images/slidetwobg.png")
                md-card-title
                    md-card-title-text Point 1
                md-card-content(css-attr #margin-bottom="20px") 
                    |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.



