md-content(layout="column", layout-padding layout-fill css-attr #overflow="hidden" #min-height="70vh")
    div.loading-items.animated.fadeIn(ng-show="list.loading")
        md-progress-circular.md-accent(css-attr #left="50%" #top="100px" md-mode="indeterminate")
    div(layout="row" flex="25" flex-offset="5" layout-fill layout-wrap)
        .md-title(ng-if="list.items.length < 1") Sorry no items in your search match your filters.
        div(ng-repeat = "i in [0,1,2,3]" flex="25")
            store-item(ng-repeat = "item in list.rows[i]" item="item")
