md-card.shop-card(ng-class="{'md-whiteframe-5dp': hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false")
    img.md-card-img(src="../assets/images/suits/{{::item.item.image}}")
    md-card-content(layout="column" css-attr #padding="12px")
        div(css-attr #margin-bottom="10px")
            a(href="http://google.com") Username
        div(layout="row")
            span(flex="85") {{::item.item.name}}
            span {{::item.item.price}}
        div(css-attr #margin-top="15px")
            md-button.md-icon-button(href="http://google.com")
                md-icon(md-svg-icon="heart-outline")
            md-button.md-icon-button(href="http://google.com")
                md-icon(md-svg-icon="cart-plus")