
md-toolbar#toolbar-filter(ng-click="store.log(store.scope)" scroll-past="90" ng-class="{sticky: scroll}" layout="row" ng-cloak)
    div(flex-offset="5" flex="10")
        md-button.md-fab.md-mini.md-primary(ng-click="store.toggle()" aria-label="Filter")
            md-icon(md-svg-icon="filter")
        span Filters
div(layout="row")
    div.sidenav-placeholder(ng-show="scroll && store.open")
    md-sidenav.custom-sidenav(ng-class="{sticky: scroll}" md-is-open="true" md-disable-backdrop md-component-id="left")
        filter-list(items="store.items" layout="row" layout-wrap)
    

    item-list(loading="store.loading" items="store.items" flex="100" ng-class="{scrolly: scroll}")
