md-card.cart
  md-card-content
    md-list-item(layout="row" layout-wrap ng-repeat="p in ctrl.cart.items")
      div(flex="30")
        img(src="../assets/images/suits/{{p.item.imagePaths[0]}}" width="70%")
      div(flex="70" layout="row" layout-wrap css-attr #font-size="12px")
        div(flex="65" css-attr #margin-bottom="3px") {{p.item.name}} 
        div(flex-offset="5" flex="25") {{p.item.price | currency}}
        div(flex="100" css-attr #margin-bottom="3px") Size: {{p.item.sizes[0]}}
        div(flex="100" css-attr #margin-bottom="3px") Color: {{p.item.quantity}}
        div(flex="100" css-attr #margin-bottom="3px") Quantitiy: {{p.qty}}
      div(flex="40")
        a.remove-item.md-primary(ng-click="ctrl.remove(p.item._id)") Remove Item
    md-list-item(layout="row" ng-show="ctrl.cart.totalQty > 0")
      span.md-body-1(flex="") Subtotal:  {{ctrl.cart.totalPrice | currency}}
      span(flex="40")
        md-button.md-raised.md-accent.checkout Checkout