md-content.no-scroll(layout="row")
    md-nav-bar.store-nav(md-no-ink-bar="true" md-selected-nav-item='stateName', nav-bar-aria-label='navigation links' flex="100")
      li(flex="15")
        md-icon.store-logo.icon-fix(md-svg-icon="brand:logo" aria-label="logo")
        span.store-logo-text.raleway(ui-sref='home', name='home') ANZUG
  
      li(flex="20")
      md-nav-item(ng-repeat='item in nav.menu', md-nav-sref='{{item.state}}', name='{{item.state}}') {{item.title}}
      li(flex-offset="5" flex="20")
        md-input-container.md-block(css-attr #margin-top="2px")
            label Search Suits
            md-icon(md-svg-icon="magnify")
            input
      li(flex="10" flex-offset="10" )
        span(ng-mouseenter="show=!show" ng-mouseleave="show=!show")
            md-button.md-icon-button.store-icon-button
              md-icon(md-svg-icon="cart-outline" md-menu-origin ng-hide="$root.cart.totalQty")
              md-icon(md-svg-icon="cart" md-menu-origin ng-show="$root.cart.totalQty")
            span.cart-badge {{$root.cart.totalQty}}
            .cart-chevron(ng-show="show")
              md-icon(md-svg-icon="chevron-up")
            md-card.cart(ng-show="show")
              md-card-content
                md-list-item(layout="row" layout-wrap ng-repeat="p in $root.cart.items")
                  div(flex="30")
                    img(src="../assets/images/suits/{{p.item.imagePaths[0]}}" width="70%")
                  div(flex="70" layout="row" layout-wrap css-attr #font-size="12px")
                    div(flex="65" css-attr #margin-bottom="3px") {{p.item.name}} 
                    div(flex-offset="5" flex="25") {{p.item.price | currency}}
                    div(flex="100" css-attr #margin-bottom="3px") Size: {{p.item.sizes[0]}}
                    div(flex="100" css-attr #margin-bottom="3px") Color: {{p.item.color}}
                  div(flex="40")
                    a.remove-item.md-primary Remove Item
                md-list-item(layout="row")
                  span.md-body-1(flex="") Subtotal:  $79.99
                  span(flex="40")
                    md-button.md-raised.md-accent.checkout Checkout

        //- md-menu(md-offset =" 0 40")
        //-   span
        //-     md-button.md-icon-button.store-icon-button(ng-href="www.google.com" ng-mouseenter="nav.openMenu($mdMenu, $event)")
        //-       md-icon(md-svg-icon="cart" md-menu-origin )
        //-     span.cart-badge 0
        //-   md-menu-content(width='6', ng-mouseleave="nav.closeMenu($mdMenu, $event)")
        //-     md-menu-item(ng-repeat='item in [1, 2, 3]')
        //-       md-button
        //-         | Option {{item}}

