.store-logo {
    padding-left: 25px;
}

.store-logo-text {
    cursor: pointer;
    position: relative;
    top: 7px;
    left: 4px;
    font-size: 30px;
}

.store-nav li.md-nav-item {
  margin-top: 7px;
}

.store-nav > .md-nav-bar {
    height: 60px;
    padding-top: 20px;
}

.store-icon-button {
  opacity: 1;
}

.cart-badge {
    font-size: 18px;
    position: relative;
    left: -11px;
    top: 2px;
    font-family: "lato", "sans-serif";
    font-weight: 300;
}

.cart {
  position: absolute;
  z-index: 999;
  width: 25%;
  right: 5%;
  top: 65%;
  padding: 10px
}

.cart-chevron {
  position: relative;
  top: -20px;
  left: 35px;
}

.remove-item {
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}

.remove-item:hover {
  opacity: .6;
}

.checkout span {
  font-size: 10px;
}