.store-logo {
    padding-left: 25px;
}

.store-logo-text {
    cursor: pointer;
    position: relative;
    top: 7px;
    left: 4px;
    font-size: 30px;
}

.store-nav li.md-nav-item {
  margin-top: 7px;
}

.store-nav > .md-nav-bar {
    height: 60px;
    padding-top: 20px;
}

.store-icon-button {
  opacity: .8;
}

.cart-badge {
    font-size: 18px;
    position: relative;
    left: -11px;
    top: 2px;
    font-family: "lato", "sans-serif";
    font-weight: 300;
}