div(layout="row" layout-wrap css-attr #margin-left="30px" ng-cloak)
    .md-display-2.raleway(flex="100" css-attr #margin-bottom="20px") My Account

    md-sidenav.custom-sidenav.md-opened-custom(md-is-open="true" md-disable-backdrop md-component-id="left" flex="20")
        .profile
            img(src="../assets/images/userprofile-1.png")
            .md-body-2 User Name
        div(layout="row" layout-wrap)
          md-button#tab(flex="100" ng-repeat= "tab in account.tabs" ng-class="tab.class" ng-click="account.select($index)") {{tab.name}}
    .profile-content(flex="70" flex-offset="5" ng-switch="account.selected" css-attr #min-height="35em")
      div(ng-switch-when="Profile")
        .md-display-1.raleway Profile
        div(ng-include="'app/account/profile/partials/profile.html'")
      div(ng-switch-when="Orders")
        .md-display-1.raleway Orders
        div(layout="row" css-attr #margin-top="20px" ng-cloak)
          div(flex="90")
            md-list
              order(ng-repeat="o in account.orders" order="o" ng-class-even="'even'")
      div(ng-switch-when="Shipping Info")
        .md-display-1.raleway Shipping Info
        div(ng-include="'app/account/profile/partials/shipping.html'")