#one {
    background-size: 100% 100%;
    background-image: url(../assets/images/slideonebg.jpg);
}

#two {
    background-size: 100% 100%;
/*    background-repeat: no-repeat;*/
    background-image: url(../assets/images/slidetwobg.png);
}

#three {
    background-size: 100% 100%;
/*    background-repeat: no-repeat;*/
    background-image: url(../assets/images/slidethreebg.jpg);
}

#how-icon {
    height: 200px;
    width: 200px;
}

.whitebox {
    position: absolute;
    top: 10%;
    margin-left: 4%;
    background-color: rgba(255,255,255,.18);
    width: 91%;
    height: 83%;
}
#speedtwo {
    -webkit-animation-duration: .75s; /* Chrome, Safari, Opera */
    animation-duration: .75s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  
}
.blackbox {
    position: absolute;
    top: 10%;
    margin-left: 4%;
    background-color: rgba(0,0,0,.18);
    width: 91%;
    height: 83%;
}

.slide-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.testomonial {
    float: left;
    margin-right: 10px;
}

.testomonial img {
    width: 100px;
    border-radius: 50%;
}

.blockquote{
  display:block;
  margin: 0px;
  position: relative;
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
}

.blockquote::before {
    content: "\201C";
    font-family: Georgia,serif;
    font-size: 30px;
    font-weight: 700;
    color: #999;
    position: relative;
    top: -5px;
    float: left;
}