.test-box {
	text-align: center;
	background-color: yellow;
	height: 200px;
}

.slide {
    background-image: url(../assets/images/brandonandersen.jpg);
    background-size: 100% 100%;
}

.touch-nav {
    margin-top: -20px;
}

.slide-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    top: 49px;
}