#one {
    background-size: 100% 100%;
    background-image: url(../assets/images/slideonebg.jpg);
}

#two {
    background-size: 100% 100%;
/*    background-repeat: no-repeat;*/
    background-image: url(../assets/images/slidetwobg.png);
}

.whitebox {
    position: absolute;
    top: 10%;
    margin-left: 4%;
    background-color: rgba(255,255,255,.18);
    width: 91%;
    height: 83%;
}
#speedtwo {
    -webkit-animation-duration: .75s; /* Chrome, Safari, Opera */
    animation-duration: .75s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  
}
.blackbox {
    position: absolute;
    top: 10%;
    margin-left: 4%;
    background-color: rgba(0,0,0,.18);
    width: 91%;
    height: 83%;
}

.slide-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}