div(full-page, options = "Home.options")
  .section
    md-content.md-padding.slide-container(md-colors="{background: 'blue'}")
      md-card(md-colors="{background: 'red'}") This is a card
  .section Some Html
  .section Some Html