div.touch-nav(full-page options ="Home.options")
  .section
    .container-fluid.slide
      .row-fluid
        .col-xs-6.col-xs-offset-3
          h1.md-primary Welcome to Paquet
          h3.md-accent Marketing tag line
    

  .section Some section
  .section Some section
  .section Some section
