.slide-container(full-page, options = "Home.options")
  .section.slide#one
    .whitebox
    md-content.md-padding.transparent(layout-fill layout="column" layout-align = "start")
      div(flex="65")
      .md-display-2.raleway.animated.fadeIn(ng-class="Home.animator(1,'fadeIn')" layout ="row" flex ="35" md-colors ="{color: 'default-background'}" layout-wrap)
        div(flex-offset="15" flex="85")
          .md-display-3.no-margin#bold $50 SUIT RENTAL
          .md-headline#bold(flex-offset="15") VALUED UP TO $1,OOO

  .section#two
    .blackbox
    md-content.md-padding.transparent(layout-fill layout="column" )
      div(flex="10")
      .md-display-3.raleway(md-colors ="{color: 'default-background'}" align="center") HOW ANZUG WORKS?
      div(flex="5")
      div.animated#speedtwo(layout="row" ng-class="Home.animator(2,'fadeInUp','fadeInDown')")
        md-card.md-whiteframe-8dp(flex-offset="5" flex ="25" align="center")
          div(flex="")
          .md-display-1.md-padding.raleway() Sign Up
            
        md-card.md-whiteframe-8dp(flex-offset="5" flex ="25")
          md-card-content(layout-fill layout="column" align="center")
            div(flex="")
              md-icon(md-svg-icon="brand:suit-trans" aria-label="suit" css zzpadding="25" zzheight="200" zzwidth="200" md-colors="{color: 'mycolors-A200'}")
            div(flex="" css zzheight="100")
            .md-display-1.raleway() Select Suit
        md-card.md-whiteframe-8dp(flex-offset="5" flex ="25")
          md-card-content(layout-fill layout="column" align ="center")
            div(flex)
            .md-display-1.raleway Wear & Return

  .section Some Html