.slide-container(full-page, options = "Home.options")
  .section.slide#one
    .whitebox
    md-content.md-padding.transparent(layout-fill layout="column" layout-align = "start")
      div(flex="65")
      .md-display-2.raleway.animated.fadeIn(ng-class="Home.animator(1,'fadeIn')" layout ="row" flex ="35" md-colors ="{color: 'default-background'}" layout-wrap)
        div(flex-offset="15" flex="85")
          .md-display-3.no-margin#bold $50 SUIT RENTAL
          .md-headline#bold(flex-offset="15") VALUED UP TO $1,OOO
  .section#two
    md-content.md-padding.transparent(layout-fill layout="column" layout-align = "start start")
      div(flex="30")
      .md-display-2.raleway(flex-offset="15" flex="25" md-colors ="{color: 'default-background'}")
         |More Marketing!


  .section
    md-content.md-padding(layout-fill layout="column" )
      div(flex="10")
      div.animated(layout="row" ng-class="Home.animator(3,'fadeInUp','fadeInDown')")
        md-card.md-whiteframe-8dp(flex-offset="5" flex ="25" align="center")
          .md-padding Test Title
          md-card-content
            md-icon.md-display-4#full-size assignment
            p(align="left") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        md-card.md-whiteframe-8dp(flex-offset="5" flex ="25")
        md-card.md-whiteframe-8dp(flex-offset="5" flex ="25")
  .section Some Html