div(full-page, options = "Home.options")
  .section.slide
    md-content.md-padding.transparent(layout-fill layout="column" layout-align = "start center")
      div(flex="40")
      .md-display-2( flex ="100" md-colors ="{color: 'default-background'}") 
        span.raleway Marketing Phrase
  .section
    md-content.md-padding
  .section Some Html
  .section Some Html