md-content(layout="row", layout-padding layout-wrap layout-fill css-attr #background-color="#fff")
    div(flex="65" css-attr #padding="20px")
        jk-carousel.product(data="ctrl.slides", item-template-url="'app/store/products/productCarousel.html'" max-width="{{ctrl.caroWidth}}" max-height="{{ctrl.caroHeight}}" current-index="0" auto-slide="true")
    div(flex="35" layout-wrap layout="row" layout-fill layout-padding)
        .md-headline(flex="100") {{ctrl.product.name}}
        div(flex="100")
          jk-rating-stars.product-rating(read-only="true" rating="ctrl.reviewAvg")
          a.star-label(href="#reviews") {{ctrl.reviews.length}} Reviews
        p.product-desc(flex="100") {{ctrl.product.description}}

        md-button.group.md-raised(ng-class="{'md-accent': !ctrl.size}" flex="50" ng-click="ctrl.show = !ctrl.show") 
          span(ng-if="!ctrl.size") Select Size
          span(ng-if="ctrl.size") {{ctrl.size | uppercase}}
          md-icon(ng-class="{'expand': ctrl.show}" md-svg-icon="chevron-up")
        md-button.group.md-raised(flex="50" ng-class="{'md-accent': ctrl.size,}" ng-disabled="!ctrl.size" ng-click="ctrl.add(ctrl.product._id)") Add to Cart
        .animated.group-menu.md-whiteframe-4dp(ng-class="ctrl.fadeInOut()" ng-show="ctrl.show" flex="100" layout="row" layout-wrap layout-fill)
          md-button.md-raised(md-colors="{'background-color': 'grey'}" ng-repeat="size in ctrl.product.sizes" flex="25" ng-click="ctrl.selectSize(size)") {{ size | uppercase}}
        div(flex="100")
          .md-subhead Vendor Details
          p 
            |Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    div(flex="100" layout-fill layout-wrap layout="row" id="reviews")
      .md-display-2.review-heading(flex="100") Reviews
      .md-heading(flex-offset="10" flex="15" css-attr #padding="20px") Recent Reviews
      span(flex='75')
      review-card.center(ng-repeat="review in ctrl.reviews" flex="33" data="review")
