.jk-carousel .md-icon-button md-icon {
    color: #B71C1C;
    background-color: white !important;
}

.jk-carousel .radio-buttons-container md-radio-button .md-off {
    border-color: #607D8B;
}

.jk-carousel .slides-container .slide .ng-scope img:first-child {
    margin-left: auto;
    margin-right: auto;
    display: block;
}