div(layout="row" layout-wrap css-attr #margin-left="30px" ng-cloak)
    .md-display-2.raleway(flex="100" css-attr #margin-bottom="20px") Dashboard

    md-sidenav.custom-sidenav.md-opened-custom(md-is-open="true" md-disable-backdrop md-component-id="left" flex="20")
        .profile
            img(src="../assets/images/userprofile-1.png")
            .md-body-2 User Name
        div(layout="row" layout-wrap)
          md-button#tab(flex="100" ng-repeat= "tab in dash.tabs" ng-class="tab.class" ng-click="dash.select($index)") {{tab.name}}
    .profile-content(flex="70" flex-offset="5" ng-switch="dash.selected" css-attr #min-height="35em")
      div(ng-switch-when="Profile")
        .md-display-1.raleway Profile
        div(ng-include="'app/account/profile/partials/profile.html'")
      div(ng-switch-when="Orders")
        .md-display-1.raleway Orders
        order-management
      div(ng-switch-when="Products")
        .md-display-1.raleway Products
        product-management